html,
body {
  background-color: $color-gray-light;
    overflow-y: auto;
    overflow-x: hidden;
}

html {
  border-top: $layout-unit solid $color-black;
}

button,
input,
textarea {

  &:active,
  &:focus {
    outline-color: $color-ming;
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 2px;
  }
}
