$color-black: #343434;
$color-black-alpha: rgba(0,0,0,0.5);
$color-gray-dark: #4A4A4A;
$color-gray-light: #FDFDFD;
$color-white: #FFFFFF;
$color-white-alpha: rgba(255,255,255,0.8);

$color-main: #FF0C80;

$color-gulf-stream: #86B4B6;
$color-ming: #355C7D;
$color-smoky: #6C5B7B;
$color-hopbush: #CC6093;
$color-froly: #F67280;
$color-tacha: #CCCE67;
