$color-black: #101010;
$color-black-alpha: rgba(0,0,0,0.8);
$color-gray-dark: #4A4A4A;
$color-gray: #E8E8E8;
$color-gray-light: #FDFDFD;
$color-white: #FFFFFF;
$color-white-alpha: rgba(255,255,255,0.8);

$color-main: #FF0C80;
$color-main-alpha: rgba(255,12,128,0.2);

$color-gulf-stream: #68B09A; // green
$color-gulf-stream-alpha: rgba(104,176,154,0.8);
$color-ming: #355C7D; // blue
$color-ming-alpha: rgba(53,92,125,0.8); // blue alpha
$color-smoky: #6C5B7B; // violet
$color-smoky-alpha: rgba(108,91,123,0.8); // violet alpha
$color-hopbush: #CC6093; // pink
$color-froly: #F67280; // rose
$color-froly-alpha: rgba(246,114,128, 0.8); // rose
$color-tacha: #CCCE67; // yellow
$color-tacha-alpha: rgba(204,206,103,0.8);
