@font-face {
  font-family: 'Icons';
  src: url('../fonts/icons/icomoon.eot');
  src: url('../fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icons/icomoon.woff') format('woff'),
       url('../fonts/icons/icomoon.ttf') format('truetype'),
       url('../fonts/icons/icomoon.svg#icomoon') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-light/montserrat-light-webfont.eot');
  src: url('../fonts/montserrat-light/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-light/montserrat-light-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-light/montserrat-light-webfont.woff') format('woff'),
       url('../fonts/montserrat-light/montserrat-light-webfont.ttf') format('truetype'),
       url('../fonts/montserrat-light/montserrat-light-webfont.svg#montserratsemi_bold') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-semibold/montserrat-semibold-webfont.eot');
  src: url('../fonts/montserrat-semibold/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-semibold/montserrat-semibold-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-semibold/montserrat-semibold-webfont.woff') format('woff'),
       url('../fonts/montserrat-semibold/montserrat-semibold-webfont.ttf') format('truetype'),
       url('../fonts/montserrat-semibold/montserrat-semibold-webfont.svg#montserratsemi_bold') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-bold/montserrat-bold-webfont.eot');
  src: url('../fonts/montserrat-bold/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-bold/montserrat-bold-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-bold/montserrat-bold-webfont.woff') format('woff'),
       url('../fonts/montserrat-bold/montserrat-bold-webfont.ttf') format('truetype'),
       url('../fonts/montserrat-bold/montserrat-bold-webfont.svg#montserratsemi_bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-light/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-light/opensans-light-webfont.woff2') format('woff2'),
  url('../fonts/opensans-light/opensans-light-webfont.woff') format('woff'),
  url('../fonts/opensans-light/opensans-light-webfont.ttf') format('truetype'),
  url('../fonts/opensans-light/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-extrabold/OpenSans-ExtraBold.eot');
  src: url('../fonts/opensans-extrabold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-extrabold/OpenSans-ExtraBold.woff2') format('woff2'),
  url('../fonts/opensans-extrabold/OpenSans-ExtraBold.woff') format('woff'),
  url('../fonts/opensans-extrabold/OpenSans-ExtraBold.ttf') format('truetype'),
  url('../fonts/opensans-extrabold/OpenSans-ExtraBold.svg#open_sanslight') format('svg');
  font-weight: 900;
  font-style: normal;
}