.icon {
    background-position: 50%;
    background-repeat: no-repeat;
}

.icon--round {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 1em 0;
    width: 60px;
    height: 60px;
}

.icon--facebook {
    background-image: url(../images/icons/facebook.svg);
}

.icon--envelope {
    background-image: url(../images/icons/email.svg);
}

.icon--google-plus {
    background-image: url(../images/icons/google-plus.svg);
}

.icon--twitter {
    background-image: url(../images/icons/twitter.svg);
}

.icon--sword {
    background-image: url(../images/icons/sword.svg);
}

.icon--rocket {
    background-image: url(../images/icons/rocket.svg);
}