// Import and setup icon fonts
@import url(http://weloveiconfonts.com/api/?family=fontawesome|maki|zocial);

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'fontawesome', sans-serif;
}

/* maki */
[class*="maki-"]:before {
    font-family: 'maki', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}