$layout-unit: 20px;

.layout-container {
  margin: 0 auto;
  padding: 0 $layout-unit;
  position: relative;
  max-width: 1200px;

  @media screen and (min-width: $mq-m) {
    width: calc(100% - 120px);
  }
}

.layout-innercontainer--border-bottom {
  border-bottom: ($layout-unit / 4) solid $color-black;
  padding: 0 0 $layout-unit 0;
}
