$layout-unit: 20px;

.layout-container {
  margin: 0 auto;
  padding: 0 $layout-unit;
  position: relative;
  max-width: 1200px;

  @media screen and (min-width: $mq-m) {
    width: calc(100% - 120px);
  }
}

.layout-innercontainer--border-bottom {
  border-bottom: ($layout-unit / 4) solid $color-black;
  padding: 0 0 $layout-unit 0;
}

.layout__grid {
  @extend %grid;
}

.layout__grid__item {
  @extend %grid__item;
}

.layout__grid__item--headline {
  @extend %ten-twelfths;
  @extend %push--one-twelfth; 

  @extend %m--three-twelfths;
  @extend %push--m--two-twelfths;

  @extend %l--three-twelfths;
  @extend %push--l--two-twelfths;
}
