* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100%;
  min-height: 100vh;
}

a {
  color: #000000;
  text-decoration: none;
}

a,
button,
input,
textarea {

  &:active,
  &:focus {
    outline: none;
  }
}
