<section id="contact">
    <div class="maps-img-container" id="open-space"></div>
    <div class="grid-container">
        <div class="contact-container">
            <h1>{{ t.contact }}</h1>
            <div class="socialmedia">
                <ul>
                    <li><a href="mailto:kontakt@geildanke.com" class="fontawesome-envelope"></a></li>
                    <li><a href="https://twitter.com/GeilDanke" class="fontawesome-twitter"></a></li>
                    <li><a href="https://www.facebook.com/geildanke" class="fontawesome-facebook"></a></li>
                    <li><a href="https://www.google.com/+GeildankeBerlin" class="fontawesome-google-plus"></a></li>
                </ul>
                <a class="btn" href="mailto:kontakt@geildanke.com?subject=Referer:%20{{ page.title }}">kontakt@geildanke.com</a>
            </div>
            <div itemscope itemtype="http://schema.org/Organization" class="adress">
                <p itemprop="name">Geil,Danke! GmbH</p>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <p itemprop="streetAddress">Fischerinsel 4</p>
                    <p><span itemprop="postalCode">10179</span> <span itemprop="addressLocality">Berlin, Germany</span></p>
                </div>
            </div>
        </div>
    </div>
</section>