<section class="cta layout-container">
  <div class="cta__header">
    <div class="layout__grid">
      <h2 class="cta__headline headline headline--2 layout__grid__item">{{t.cta.headline}}</h2>
    </div>
  </div>
  <div class="cta__columns">
    <div class="layout__grid">
      <div class="cta__column cta__column--main layout__grid__item">
        <p class="cta__copy cta__copy--main">{{t.cta.copy}}</p>
        <a class="button cta__button" href="#">{{t.cta.button}}</a>
      </div>
    </div>
  </div>
</section>
