<div class="footer">
  <div class="footer__slogan">
    <ul class="footer__list">
      <li class="footer__list__item"><a class="footer__logo" href="https://geildanke.com"></a></li>
      <li class="footer__list__item">Proudly published by<br>Michaela Lehr and Richard Brammer.</li>
    </ul>
  </div>
  <div class="footer__socialmedia">
    <div class="layout-container">
      {% include socialmedia.html %}
    </div>
  </div>
  <div class="footer__links">
    <div class="layout-container">
      <div class="layout__grid">
        {% for footerlist in site.footerlists %}
          {% if footerlist.lang == page.lang %}
          <div class="footer__grid__item footer__grid__item--{{forloop.index0}} layout__grid__item">
            <ul class="footer__list">
              {% for bulletpoint in footerlist.bulletpoints %}
              <li class="footer__list__item footer__list__item--img typo-smaller typo-label"><a href="{{ bulletpoint.url }}">{{ bulletpoint.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
