<div class="footer">
  <div class="layout-container">
    <div class="layout__grid">
      {% for footerlist in site.footerlists %}
        {% if footerlist.lang == page.lang %}
        <div class="footer__grid__item footer__grid__item--{{forloop.index0}} layout__grid__item">
          <ul class="footer__list">
            {% for bulletpoint in footerlist.bulletpoints %}
            <li class="footer__list__item footer__list__item--img typo-smaller typo-label">{{ bulletpoint }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
