<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} by Geil,Danke!</title>
    <meta name="description" content="{{ page.teaser }}">
    
    <link rel="author" href="https://plus.google.com/103699709433425277252">
    <link rel="publisher" href="https://plus.google.com/109913507347365861932">
    
    <!-- Facebook Open Graph -->
    <meta property="og:title" content="Geil,Danke! Apps, Websites, Games, Magazines">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ page.teaser }}">
    <meta property="og:image" content="https://geildanke.com/social-sharing-image.jpg">
    <meta property="og:url" content="https://geildanke.com">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://geildanke.com">
    <meta name="twitter:title" content="Geil,Danke! Apps, Websites, Games, Magazines">
    <meta name="twitter:description" content="{{ page.teaser }}">
    <meta name="twitter:image" content="https://geildanke.com/social-sharing-image.jpg">
    <meta name="twitter:creator" content="@geildanke">

    <!-- Itemprops -->
    <meta itemprop="creator" content="Michaela Lehr">
    <meta itemprop="publisher" content="Geil,Danke!">
    <meta itemprop="contributor" content="Richard Brammer">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <meta name="msapplication-TileColor" content="#1e1b1c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    
    <link rel="stylesheet" href="/styles/main.css">

    <script src="/scripts/modernizr.custom.27160.js" async="true"></script>
</head>
