<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} by {{ t.meta.slogan.companyslug }}</title>
    <meta name="description" content="{{ t.meta.slogan.long }} – {{ page.title }}">

    <link rel="stylesheet" href="/styles/main.css?v=4.0.8">

    <link rel="author" href="https://plus.google.com/103699709433425277252">
    <link rel="publisher" href="https://plus.google.com/109913507347365861932">

    <!-- Facebook Open Graph -->
    <meta property="og:title" content="{{ page.title }} by {{ t.meta.slogan.companyslug }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ t.meta.slogan.long }}">
    <meta property="og:image" content="{{ site.main_host }}/social-sharing-image.jpg">
    <meta property="og:url" content="{{ site.main_host }}{{ page.url }}">
    <meta property="fb:app_id" content="658534714284294">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ site.main_host }}{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title }} by {{ t.meta.slogan.companyslug }}">
    <meta name="twitter:description" content="{{ t.meta.slogan.long }}">
    <meta name="twitter:image" content="{{ site.main_host }}/social-sharing-image.jpg">
    <meta name="twitter:creator" content="@geildanke">

    <!-- Itemprops -->
    <meta itemprop="creator" content="Michaela Lehr">
    <meta itemprop="publisher" content="{{ t.meta.slogan.companyslug }}">
    <meta itemprop="contributor" content="Richard Brammer">

    <link rel="canonical" href="{{ site.main_host }}{{ page.url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Icons made with https://realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=4.0.8">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=4.0.8">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=4.0.8">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=4.0.8">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=4.0.8">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=4.0.8">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=4.0.8">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=4.0.8">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=4.0.8">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=4.0.8" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=4.0.8" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png?v=4.0.8" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=4.0.8" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=4.0.8" color="#ff0c80">
    <meta name="msapplication-TileColor" content="#ff0c80">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ff0c80">

    <script src="/scripts/vendor/modernizr.custom.27160.js?v=4.0.8" async="true"></script>
</head>
