<header class="header layout-container typo-label">
    <nav class="nav">
        <span class="nav__home-icon"></span>
        <span class="nav__logo"></span>
        <ul class="nav__list">
            <li class="nav__list__element"><a  class="nav__link"href="/about">{{t.nav.projects.value}}</a></li>
            <li class="nav__list__element"><a  class="nav__link"href="/projects">{{t.nav.about.value}}</a></li>
            <li class="nav__list__element"><a  class="nav__link"href="#contact">{{t.nav.contact.value}}</a></li>
            <li class="nav__list__element"><a  class="nav__link"href="{{ t.language.btn.link}}">{{ t.language.btn.value}}</a></li>
        </ul>
    </nav>
    <div class="header__slogan">{{t.meta.slogan.short}}</div>
</header>
