<section id="geildanke" class="layout-container layout-container--border-bottom">
  <div class="layout-innercontainer">
    <div class="hero">
      <div class="hero__image hero__image--page" style="background-image: url('/images/{{page.moodimage}}')"></div>
      <div class="hero__hgroup">
        <div class="hero__title hero__title--page">{{page.headline}}<span class="typo-color--main">.</span></div>
        <div class="hero__subtitle hero__subtitle--page">{{page.subheadline}}</div>
      </div>
    </div>
  </div>
</section>
