<section id="geildanke" class="layout-container layout-container--border-bottom">
  <div class="layout-innercontainer">
    <div class="hero">
      <div class="vrlive__canvas-wrapper">
        <div id="vrlive__image__canvas" class="vrlive__canvas"></div>
      </div>
      <div class="hero__hgroup">
        <h1 class="hero__title hero__title--page">{{page.headline}}<span class="typo-color--main">.</span></h1>
        <h2 class="hero__subtitle hero__subtitle--page">{{page.subheadline}}</h2>
      </div>
    </div>
  </div>
</section>
