<section id="geildanke" class="layout-container layout-container--border-bottom">
  <div class="layout-innercontainer layout-innercontainer--border-bottom">
    <div class="hero">
      <div class="hero__image"></div>
      <div class="hero__title hero__title--home">{{t.meta.slogan.long}}<span class="typo-color--main">.</span></div>
      <div class="hero__keywords typo-label">
        <ul class="hero__keywordlist">
          <li class="hero__keywordlist__item hero__keywordlist__item--1">{{t.hero.keyword.1}}</li>
          <li class="hero__keywordlist__item hero__keywordlist__item--2">{{t.hero.keyword.2}}</li>
          <li class="hero__keywordlist__item hero__keywordlist__item--3">{{t.hero.keyword.3}}</li>
          <li class="hero__keywordlist__item hero__keywordlist__item--4">{{t.hero.keyword.4}}</li>
        </ul><!--
        --><ul class="hero__keywordlist">
          <li class="hero__keywordlist__item hero__keywordlist__item--5">{{t.hero.keyword.5}}</li>
          <li class="hero__keywordlist__item hero__keywordlist__item--6">{{t.hero.keyword.6}}</li>
          <li class="hero__keywordlist__item hero__keywordlist__item--7">{{t.hero.keyword.7}}</li>
          <li class="hero__keywordlist__item hero__keywordlist__item--8">{{t.hero.keyword.8}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
