<section id="geildanke" class="">
  <div class="layout-innercontainer">
    <div class="hero">
      <div class="hero__vr__canvas-wrapper">
        <div id="vrlive__hero__canvas" class="vrlive__canvas"></div>
      </div>
      <button id="hero_vr_start" class="hero__vr__button button button--primary">Start Again</button>
      <div class="hero__hgroup hero__hgroup--vr">
        <h1 class="hero__title hero__title--page">{{page.headline}}<span class="typo-color--main">.</span></h1>
        <h2 class="hero__subtitle hero__subtitle--page">{{page.subheadline}}</h2>
      </div>
    </div>
  </div>
</section>
