<section class="layout-container leadlist leadlist--{{list.color}}">
  <div class="leadlist__content">
    <div class="layout__grid">
      <h2 class="headline headline--3 layout__grid__item leadlist__headline">{{list.headline}}</h2>
    </div class="layout__grid leadlist__content">
    <div class="layout__grid">
      <ul class="layout__grid__item leadlist__list">
      {% for bulletpoint in list.bulletpoints %}
        <li class="leadlist__list__item">{{bulletpoint}}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
</section>
