<section class="pagenotfound">
  <div class="pagenotfound__layout">
    <div class="pagenotfound__fourohfour">
      <span class="pagenotfound__fourohfour__icon pagenotfound__fourohfour__icon--four"></span><span class="pagenotfound__fourohfour__icon pagenotfound__fourohfour__icon--oh"></span><span class="pagenotfound__fourohfour__icon pagenotfound__fourohfour__icon--four"></span>
    </div>
    <h1>Page Not Found</h1>
    <p>Sorry, but the page you were trying to view does not exist.</p>
  </div>
</section>