<section class="pagenotfound">
  <div class="pagenotfound__layout">
    <div class="pagenotfound__fourohfour">
      <span class="pagenotfound__fourohfour__icon pagenotfound__fourohfour__icon--four"></span><span class="pagenotfound__fourohfour__icon pagenotfound__fourohfour__icon--oh"></span><span class="pagenotfound__fourohfour__icon pagenotfound__fourohfour__icon--four"></span>
    </div>
    <h1 class="headline headline--2 pagenotfound__title">Page Not Found</h1>
    <p class="pagenotefound__copy">Sorry, but the page you were trying to view does not exist.</p>
    <p class="pagenotefound__copy">Maybe these topics are interesting for you:</p>
  </div>
  <ul class="pagenotfound__searchhere">
    <li class="pagenotfound__searchhere__article">
      <a class="pagenotfound__searchhere__link" href="">
        <div class="pagenotfound__searchhere__image pagenotfound__searchhere__image--about"></div>
        <p class="pagenotfound__searchhere__copy"><span class="pagenotfound__searchhere__teaser">About us</span>Do you want to know more? Find out who we are, how we work and what drives us.</p>
      </a>
    </li>
    <li class="pagenotfound__searchhere__article">
      <a class="pagenotfound__searchhere__link" href="">
        <div class="pagenotfound__searchhere__image pagenotfound__searchhere__image--home"></div>
        <p class="pagenotfound__searchhere__copy"><span class="pagenotfound__searchhere__teaser">Home</span>On our homepage, you can read about our projects, services and clients.</p>
      </a>
    </li>
    <li class="pagenotfound__searchhere__article">
      <a class="pagenotfound__searchhere__link" href="">
        <div class="pagenotfound__searchhere__image pagenotfound__searchhere__image--contact"></div>
        <p class="pagenotfound__searchhere__copy"><span class="pagenotfound__searchhere__teaser">Contact us</span>Isn't this what you are looking for? Write us a message and we will get back to you soon.</p>
      </a>
    </li>
  </ul>
</section>