<div class="socialmedia">
    <ul class="socialmedia__list">
        <li class="socialmedia__list__item">
            <a target="_blank" href="{{t.meta.socialmedia.appstore}}" class="icon icon--appstore"></a>
        </li>
        <li class="socialmedia__list__item">
            <a target="_blank" href="{{t.meta.socialmedia.playstore}}" class="icon icon--playstore"></a>
        </li>
        <li class="socialmedia__list__item">
            <a target="_blank" href="{{t.meta.socialmedia.twitter}}" class="icon icon--twitter"></a>
        </li>
    </ul>
</div>
