<div class="socialmedia">
    <ul class="socialmedia__list">
        <li class="socialmedia__list__item"><a href="{{t.meta.socialmedia.appstore}}" class="icon icon--appstore"></a></li>
        <li class="socialmedia__list__item"><a href="{{t.meta.socialmedia.playstore}}" class="icon icon--playstore"></a></li>
        <li class="socialmedia__list__item"><a href="{{t.meta.socialmedia.twitter}}" class="icon icon--twitter"></a></li>
        <li class="socialmedia__list__item"><a href="{{t.meta.socialmedia.facebook}}" class="icon icon--facebook"></a></li>
        <li class="socialmedia__list__item"><a href="{{t.meta.socialmedia.googleplus}}" class="icon icon--googleplus"></a></li>
        <li class="socialmedia__list__item"><a href="" data-action="share/whatsapp/share" class="icon icon--whatsapp"></a></li>
    </ul>
</div>
