<section class="submenu layout-container">
  <div class="submenu__container layout-innercontainer">
    <span class="submenu__label">Read more about:</span>
    <ul class="submenu__list">
      <li class="submenu__list__item"><a class="submenu__link" href="">Who we are.</a></li>
      <li class="submenu__list__item"><a class="submenu__link" href="">How we work.</a></li>
      <li class="submenu__list__item"><a class="submenu__link" href="">What we do.</a></li>
      <li class="submenu__list__item"><a class="submenu__link" href="">What matters to us.</a></li>
    </ul>
  </div>
</section>