<section class="submenu layout-container">
  <div class="submenu__grid">
    <div class="submenu__container layout-innercontainer">
      <span class="submenu__label">{{t.about.submenu.label}}</span>
      <ul class="submenu__list">
        <li class="submenu__list__item"><a class="submenu__link" href="#whoweare">{{t.about.whoweare.headline}}</a></li>
        <li class="submenu__list__item"><a class="submenu__link" href="#howwework">{{t.about.howwework.headline}}</a></li>
        <li class="submenu__list__item"><a class="submenu__link" href="#whatwedo">{{t.about.whatwedo.headline}}</a></li>
        <li class="submenu__list__item"><a class="submenu__link" href="#whatmatters">{{t.about.whatmatters.headline}}</a></li>
      </ul>
    </div>
  </div>
</section>