<section class="layout-container">
  <div class="layout-innercontainer">
    <div class="whoweare">
      <div class="whoweare__title-container">
        <div class="whoweare__title">{{t.about.whoweare.headline}}<span class="typo-color--main">.</span></div>
      </div>
      <div class="whoweare__grid">
        <article class="whoweare__article whoweare__article--michaela">
          <figure class="whoweare__figure">
            <img  class="whoweare__figure__image" src="../images/michaela.png" alt="Michaela Lehr">
            <figcaption class="whoweare__figure__caption">
              <p>{{t.about.whoweare.michaela.name}}<br>{{t.about.whoweare.michaela.position}}</p>
            </figcaption>
          </figure>
          <p class="whoweare__copy">{{t.about.whoweare.michaela.copy}}</p>
          <dl class="whoweare__list">
            <dt class="whoweare__list__item whoweare__list__item--term whoweare__list__item--books">{{t.about.whoweare.michaela.books.name}}</dt>
            {% for item in t.about.whoweare.michaela.books.items %}
              <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="{{item.url}}">{{item.name}}</a></dd>
            {% endfor %}
            <dt class="whoweare__list__item whoweare__list__item--term whoweare__list__item--talks">{{t.about.whoweare.michaela.talks.name}}</dt>
            {% for item in t.about.whoweare.michaela.talks.items %}
              <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="{{item.url}}">{{item.name}}</a></dd>
            {% endfor %}
            <dt class="whoweare__list__item whoweare__list__item--term whoweare__list__item--newsletter">{{t.about.whoweare.michaela.newsletter.name}}</dt>
            {% for item in t.about.whoweare.michaela.newsletter.items %}
              <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="{{item.url}}">{{item.name}}</a></dd>
            {% endfor %}
            <dt class="whoweare__list__item whoweare__list__item--term whoweare__list__item--articles">{{t.about.whoweare.michaela.articles.name}}</dt>
            {% for item in t.about.whoweare.michaela.articles.items %}
              <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="{{item.url}}">{{item.name}}</a></dd>
            {% endfor %}
          </dl>
          <ul class="whoweare__socialmedialist">
            {% for socialmediaprofile in t.about.whoweare.michaela.socialmediaprofiles %}
              <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--{{socialmediaprofile.name}}" href="{{socialmediaprofile.url}}"></a></li>
            {% endfor %}
          </ul>
        </article>
        <article class="whoweare__article whoweare__article--richard">
          <figure class="whoweare__figure">
            <img  class="whoweare__figure__image" src="../images/richard.png" alt="{{}}">
            <figcaption class="whoweare__figure__caption">
              <p>{{t.about.whoweare.richard.name}}<br>{{t.about.whoweare.richard.position}}</p>
            </figcaption>
          </figure>
          <p class="whoweare__copy">{{t.about.whoweare.richard.copy}}</p>
          <dl class="whoweare__list">
            <dt class="whoweare__list__item whoweare__list__item--term whoweare__list__item--books">{{t.about.whoweare.richard.books.name}}</dt>
            {% for item in t.about.whoweare.richard.books.items %}
              <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="{{item.url}}">{{item.name}}</a></dd>
            {% endfor %}
            <dt class="whoweare__list__item whoweare__list__item--term whoweare__list__item--talks">{{t.about.whoweare.richard.talks.name}}</dt>
            {% for item in t.about.whoweare.richard.talks.items %}
              <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="{{item.url}}">{{item.name}}</a></dd>
            {% endfor %}
            <dt class="whoweare__list__item whoweare__list__item--term whoweare__list__item--newsletter">{{t.about.whoweare.richard.newsletter.name}}</dt>
            {% for item in t.about.whoweare.richard.newsletter.items %}
              <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="{{item.url}}">{{item.name}}</a></dd>
            {% endfor %}
          </dl>
          <ul class="whoweare__socialmedialist">
            {% for socialmediaprofile in t.about.whoweare.richard.socialmediaprofiles %}
              <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--{{socialmediaprofile.name}}" href="{{socialmediaprofile.url}}"></a></li>
            {% endfor %}
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>
