<section id="geildanke" class="layout-container">
  <div class="layout-innercontainer">
    <div class="whoweare">
      <div class="whoweare__title-container">
        <div class="whoweare__title">{{t.about.whoweare.headline}}<span class="typo-color--main">.</span></div>
      </div>
      <div class="whoweare__grid">
        <article class="whoweare__article whoweare__article--michaela">
          <figure class="whoweare__figure">
            <img  class="whoweare__figure__image" src="../images/michaela.png" alt="{{}}">
            <figcaption class="whoweare__figure__caption">
              <p>Michaela Lehr<br>Managing Partner and Creative Director</p>
            </figcaption>
          </figure>
          <p class="whoweare__copy">Michaela is GeilDanke's creative front-end developer and UX designer. Working in the tech industry for over five years, she constantly fights for the user's interests or the importance of logically consistent stylesheets. In her free time she enjoys reading a lot of books, practicing yoga, surfing and knitting.</p>
          <dl class="whoweare__list">
            <dt class="whoweare__list__item whoweare__list__item--term whoweare__list__item--books">Books</dt>
            <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="">„Digitales Publizieren für Tablets: Magazin-Apps mit InDesign für iPad, Android & Co.“</a></dd>
            <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="">„Adobe Digital Publishing Suite: Apps entwickeln mit InDesign und HTML5 - inklusive Prozessoptimierung und Profi-Tipps aus der Praxis“</a></dd>
            <dt class="whoweare__list__item whoweare__list__item--term whoweare__list__item--talks">Talks</dt>
            <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="">EnterJS 2016 „Erste Schritte mit Angular 2: Components, Directives, Templates“</a></dd>
            <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="">Pubkon 2014 „HTML und CSS für Designer / HTML & CSS for designers“</a></dd>
            <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="">Medienplantage 2014 „Digital Publishing: Was Print-Designer von Web-Designern lernen können“</a></dd>
            <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="">Typographie Workshop 2015 „Digitale Magazine erstellen“</a></dd>
            <dt class="whoweare__list__item whoweare__list__item--term whoweare__list__item--newsletter">Newsletter</dt>
            <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="">Angular 2 Comet</a></dd>
            <dt class="whoweare__list__item whoweare__list__item--term whoweare__list__item--articles">Articles</dt>
            <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="">SitePoint Article "Creating a WebGL Game with Unity 5 and JavaScript"</a></dd>
            <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="">Interview Junge Gründer</a></dd>
          </dl>
          <ul class="whoweare__socialmedialist">
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--dribbble" href=""></a></li>
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--instagram" href=""></a></li>
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--facebook" href=""></a></li>
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--codepen" href=""></a></li>
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--xing" href=""></a></li>
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--twitter" href=""></a></li>
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--mail" href=""></a></li>
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--linkedin" href=""></a></li>
          </ul>
        </article>
        <article class="whoweare__article whoweare__article--richard">
          <figure class="whoweare__figure">
            <img  class="whoweare__figure__image" src="../images/richard.png" alt="{{}}">
            <figcaption class="whoweare__figure__caption">
              <p>Richard Brammer<br>Managing Partner and Technical Director</p>
            </figcaption>
          </figure>
          <p class="whoweare__copy">Richard is GeilDanke's lead strategist and full stack web developer. With more than fifteen years of experiences in web technologies, he always finds the best solutions to your challenges. In private you can listen to him talking for hours and hours about Star Wars or find him traveling the world, hiking or surfing.</p>
          <dl class="whoweare__list">
            <dt class="whoweare__list__item whoweare__list__item--term whoweare__list__item--books">Books</dt>
            <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="">„Digitales Publizieren für Tablets: Magazin-Apps mit InDesign für iPad, Android & Co.“</a></dd>
            <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="">„Adobe Digital Publishing Suite: Apps entwickeln mit InDesign und HTML5 - inklusive Prozessoptimierung und Profi-Tipps aus der Praxis“</a></dd>
            <dt class="whoweare__list__item whoweare__list__item--term whoweare__list__item--talks">Talks</dt>
            <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="">Pubkon 2013: „Digital Mobile Publishing für Tablets und Smartphones“</a></dd>
            <dt class="whoweare__list__item whoweare__list__item--term whoweare__list__item--newsletter">Newsletter</dt>
            <dd class="whoweare__list__item whoweare__list__item--description"><a class="whoweare__list__link" href="">Blockchain Free Weekly News</a></dd>
          </dl>
          <ul class="whoweare__socialmedialist">
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--github" href=""></a></li>
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--instagram" href=""></a></li>
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--facebook" href=""></a></li>
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--stackoverflow" href=""></a></li>
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--xing" href=""></a></li>
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--twitter" href=""></a></li>
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--mail" href=""></a></li>
            <li class="whoweare__socialmedialist__item"><a class="whoweare__socialmedialist__link whoweare__socialmedialist__icon whoweare__socialmedialist__icon--linkedin" href=""></a></li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>
