---
layout: project
lang: en
permalink: /en/project/beautiful-mobile-responsive-websites-with-html5.html
title: Reponsive Web Design
teaser: Sophisticated, mobile, animated web sites for Audi &amp; Co.
description: Being specialized in publishing content to mobile desvices – like smartphones and tablets – and because of our experience with HTML5, we are able to develop sophisticated responsive web sites, that adapt to every display size and look virtually perfect on every device.
moodimage: webdesign-bg-gradient.jpg
headline: Sophisticated, mobile, responsive, animated and interactive web sites
subheadline: We are specialized in publishing content to mobile desvices – like smartphones and tablets – because of our experience with HTML5
---

<p class="teaser">We are able to develop sophisticated responsive web sites, that adapt to every display size and look virtually perfect on every device. By the use of a professional development process and by complying to web standards, sites with high visual and usability expectations are possible without limiting the functional compatibility on older browsers and devices – we support Android 2.3 and Internet Explorer as well.</p>
<img src="../../images/webdesign-1.jpg">
<p>For example, we realized projects with parallax effects on Smartphones or implement image galleries with gesture control. As backend systems we use Wordpress, Drupal, ExpressionEngine, CodeIgniter, TaleShip or self custom systems based on PHP or Node.js.</p>
<p>Our development process includes minification of stylesheets and scripts, when dealing with high resolution images we use progressive loading techniques. We respect correct meta data, to achieve optimal results when sharing via Facebook, Twitter or Google+ and saving a link on the homescreens of iOS, Android and Windows Phone.</p>

{% for cta in site.ctas %}
  {% if cta.lang == page.lang %}
    {% if cta.id == 'contact-responsive-website' %}
      {% include cta-plain.html %}
    {% endif %}
  {% endif %}
{% endfor %}

<img src="../../images/webdesign-2.jpg">
<p>As we have a device lab with over 25 different mobile test devices – from Android smartphones with an operating system version of 2.3.6 and a screen size of 240 by 320 pixels via Windows Phones to MacBooks with Retina displays and 27-inch monitors – we can assure that your site is tested well before the release. Also our general terms provide client friendly corrections rounds for the perfectionists among you.</p>
<p>Wherever the compatibility is not limited, we use hardware acceleration of browsers and devices. The aim of our projects is a maximum availability and the quick loading time of a website. During our work on projects we continually improve our knowledge and process – a principle of practice we are loved for by our clients and which keeps us motivated to always give our best.</p>
<img src="../../images/webdesign-3.jpg">
<p>Examples for beautiful pages, that originated from the close collaboration with <a href="http://razorfish.com">Razorfish</a> and <a href="http://www.n3vision.de/">n3vision</a>:</p>
<p>
  Audi TT car configurator with WebGL, Html5 canvas und CSS3 animations: <a target="_blank" href="http://microsites.audi.com/tt/">microsites.audi.com/tt/</a><br>
  WebGL and HTML5 canvas animations for the Audi Q7: <a target="blank" href="http://microsites.audi.com/q7mapofgreatness/">microsites.audi.com/q7mapofgreatness/</a><br>
  Parallax effects on mobile devices: <a href="http://www.lychener35.de/">lychener35.de</a><br>
  Wordpress with custom post types: <a href="http://www.kolarski-re.com/">kolarski.de</a><br>
  Responsive one page app: <a href="http://swin112.com/">swin112.com</a><br>
  Mobile-first landingpage for a campaign: <a href="http://corpussireo.n3vision.web.server.geildanke.com/koeln/dist/">Corpus Sireo</a><br>
  Animated Website with responsive Lightbox and Slideshow effects: <a href="http://www.jachimowicz.de/" target="_blank">Jachimowicz Group</a>
</p>

{% for cta in site.ctas %}
  {% if cta.lang == page.lang %}
    {% if cta.id == 'about-project' %}
      {% include cta-plain.html %}
    {% endif %}
  {% endif %}
{% endfor %}
