---
layout: project
lang: en
permalink: /en/project/50-years-of-porsche-911-ipad-app.html
title: 50 Years of Porsche 911
teaser: The birthday app for the classic car brand
description: Together with Relevance we created and developed the anniversary app "50 Jahre Porsche 911" (50 years of Porsche 911). Togetehr with our project partner we concepted, layouted and enriched the app with HTML5 for Motor Presse Stuttgart.
moodimage: porsche-bg-gradient.jpg
headline: 50 years of Porsche 911
subheadline: Together with <a href="http://relevance-hamburg.com/">Relevance</a> we created and developed the anniversary app "<a href="https://itunes.apple.com/us/app/50-jahre-porsche-911-die-geschichte/id689255464?mt=8">50 Jahre Porsche 911</a>" (50 years of Porsche 911). Together with our project partner we concepted, layouted and enriched the app with HTML5 for Motor Presse Stuttgart.
appstoreid: 689255464
---
<p>The app reached the top 5 list of paid apps in Germany. This success was possibly due to the close collaboration between Relevance, Motor Presse Stuttgart and us – and due to the high quality content and editing.</p>
<img src="../../images/porsche-2.jpg">
<p>We developed a quiz for 911 excperts and two interactive timelines with gesture control, that show every 911 model since the 60s to today – with pictures and technical data. The underlying technology is HTML5 optimized for touch devices and Retina displays.</p>
<img src="../../images/porsche-3.jpg">
<p>We concepted and layoutet the content together with the designers of our client. In a subsequent workshop we enabled Relevance to create and submit Adobe DPS apps to the App Store themselves.</p>
<img src="../../images/porsche-1.jpg">
<p>{% include badge.html store="apple" %}</p>

{% for cta in site.ctas %}
  {% if cta.lang == page.lang %}
    {% if cta.id == 'about-project' %}
      {% include cta-plain.html %}
    {% endif %}
  {% endif %}
{% endfor %}