---
layout: project
lang: en
permalink: /en/project/adobe-dps-subscription-server-one-click-buy-autobild.html
title: Entitlement-Server for Adobe Digital Publishing Solution 2015
teaser: Interface for Adobe DPS Enterprise Apps
description: We connected the Entitlement server of Auto Bild and Sport Bild Plus apps to the one-click-buy system of Axel Springer – mypass.de.
moodimage: ocb-bg-gradient.jpg
headline: One-Click-Purchase interface to Adobe Digital Publishing Suite apps.
subheadline: We connected the Entitlement server of Auto Bild and Sport Bild Plus apps to the one-click-buy system of Axel Springer – "mypass.de".
---
<p>In the shop at autobild.de, which has been implemented by further project partners, readers of Axel Springer can buy subscriptions with their existing login credentials. Axel Springer offers a pure digital edition as well as a bundle with the printed edition.</p>
<img src="../../images/ocb-1.jpg">
<p>By using the same login credentials (single sign on), readers download their issues to their iPads or Android tablets for free. By means of the entitlement server API of Adobe Digital Publishing Suite, Axel Springer saves 30% of commission compared to a sale via Apple, Google or Amazon.</p>
<img src="../../images/ocb-2.jpg">
<p>The existing communication with the Lesershop24 and the coupon code funtionality were preserved. If you are interested in the entitlement server technology for your Adobe DPS app, please have a look at <a href="https://portier.geildanke.com/#/">Portier</a>. <a href="mailto:kontakt@geildanke.com">Or contact us</a>, if you want to connect your backend application with your apps.</p>

{% for cta in site.ctas %}
  {% if cta.lang == page.lang %}
    {% if cta.id == 'contact-entitlement' %}
      {% include cta-plain.html %}
    {% endif %}
  {% endif %}
{% endfor %}
