// Article module

.article-img-top {
	background: transparent url(../img/staticmap.png) no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	overflow: hidden;
	width: 100%;
	height: 300px;
}

.article-standard {
	margin: 0;
	position: relative;


	@media screen and (min-width: $l-small) {
		margin-left: 0;
		overflow: hidden;
	}
}

.article-standard-wrapper {

	strong {
		font-weight: 700;
	}

	h1,
	p {
		margin-bottom: 1em;
	}

	img {
		width: 100%;
		margin-bottom: 1em;
		margin-top: 2em;
	}

	.btn {
		@include btn-standard ($background-color, $wireframe-grey-dark);
		overflow: visible;
		margin-bottom: 1em;
	}

	p,
	h1,
	.btn,
	a {
		margin: 2em;
	}

	p {
		a {
			margin: 0;
		}
	}

	@media screen and (min-width: $l-middle) {
		margin: 0 auto;
		max-width: 45em;
	}

	.helper-div {
		padding: 1em;
	}
}