// Contact module

#contact {
	clear: both;
	margin-top: $l-space-standard;
}

.contact-container {
	clear: both;
	min-height: 330px;
	max-width: $l-width-standard;
	margin: 0 auto 84px auto;
}

.adress {
	padding: 1em;

	@media screen and (min-width: $l-small) {
		float: left;
		width: 40%;
	}
	@media screen and (min-width: $l-middle) {
		float: left;
		width: 40%;
	}
}

.socialmedia {

	padding: 1em;

	@media screen and (min-width: $l-small) {
		float: left;
		width: 60%;
	}
	@media screen and (min-width: $l-middle) {
		float: left;
		width: 60%;
	}

	.btn {
		@include btn-standard ($background-color, $wireframe-grey-dark);
	}

	ul {
		margin-bottom: 3em;
		@include clearfix-mixin;
	}

	li {
		cursor: pointer;
		display: inline-block;

		a {
			border: none;
			background: $wireframe-grey-dark;
			display: block;
			margin: 1em 0.5em 0 0;
			padding: 1.5em 1.6em 1.4em 1.6em;
			min-width: 25px;

			color: $wireframe-white;
			font-size: 0.875em;
			text-align: center;

			&:hover {
				border: none;
				background: $geildanke-color-lighter;
			}
		}
	}
}