// Landing page module
// Page container settings are in layout.css

#geildanke {
	clear: both;
	height: 100%;
}


.full-width-img-container {
	@include cover-full-width;				// Mixin for background image with full width
	// background-attachment: fixed;
}


.full-width-wrapper {
	// background: $wireframe-shine-grey-dark;

	ul {
		display: none;

		@media screen and (min-width: $l-small) {
			display: inline;
			float: left;
			left: 8%;
			@include arrow-animation;
			position: relative;

			color: $wireframe-white;
			font-size: 2em;
		}

		@media screen and (min-width: $l-middle) {
			display: inline;
			float: left;
			left: 6%;
			@include arrow-animation;
			position: relative;

			color: $wireframe-white;
			font-size: 2em;
		}
	}
}


.titel {
	@include breakpoint-cover-page;			// Mixin for centered text on cover page

	margin: 20% auto 0 auto;
	padding: 1em;
	max-width: 70%;

	color: $wireframe-white;
	font-family: $copy-font-family;
	font-size: 1.25em;
	font-weight: 100;
	// text-align: left;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 3px;

	&:before {
		content: "";
	}

	@media screen and (min-width: $l-small) {
		color: $wireframe-white;
		font-size: 2.5em;
		letter-spacing: 5px;
		// max-width: 50%;
	}

	@media screen and (min-width: $l-middle) {
		color: $wireframe-white;
		font-size: 3.25em;
		// max-width: 40%;
	}
}

