.teaser-box-wrapper {
	text-align: center;

	margin: 0 auto;
}

.teaser-box {
	padding: 2em;
	max-width: 25em;
	padding-top: 4em;

	text-align: center;

	@media screen and (min-width: $l-middle) {
		padding-top: 2em;
		width: 50%;
		display: inline-table;
	}

	h2 {
		padding: 0;
	}


	ul {

		li {
			padding-bottom: 1em;

			&:first-child {
				padding-top: 1.5em;
			}

			strong {
				font-weight: 700;
			}
		}
	}
}

.teaser-box-services {
	border-right: 1% solid $wireframe-grey-light;
}

.teaser-box-services {
	border-left: 1% solid $wireframe-grey-light;
}