.footer {
  color: $color-gray;

  background-color: $color-black;
  padding: ($layout-unit * 3) 0 ($layout-unit * 2) 0;

  a {
    color: $color-gray;
  }
}

.footer__grid__item--0 {
  @extend %four-twelfths;
}

.footer__grid__item--1 {
  @extend %four-twelfths;
  @extend %push--one-twelfth;
}

.footer__grid__item--2 {
  @extend %two-twelfths;
  @extend %push--two-twelfths;

  text-align: right;
}

.footer__link {
  color: $color-black;
}

.footer__list {}

.footer__list__item {
  display: block;
  margin-bottom: $layout-unit;
}
