.footer {

  a {
    color: $color-gray;
    text-decoration: underline;

    &:active,
    &:hover {
      color: $color-gulf-stream;
    }
  }
}

.footer__grid__item {
  @extend %xs--four-twelfths;
  @extend %s--four-twelfths;
  @extend %m--four-twelfths;
  @extend %l--four-twelfths;
}

.footer__grid__item--1 {
  @extend %push--xs--four-twelfths;
  @extend %push--s--four-twelfths;
  @extend %push--m--four-twelfths;
  @extend %push--l--four-twelfths;

  @media screen and (min-width: $mq-xs) {
    text-align: right;
  }
}

.footer__link {
  color: $color-black;
}

.footer__links {
  color: $color-gray;

  background-color: $color-black;
  padding: ($layout-unit * 3) 0 ($layout-unit * 2) 0;
}

.footer__list {}

.footer__list__item {
  display: block;
  margin-bottom: $layout-unit;
}

.footer__logo {
  font-family: 'Icons' !important;
  font-size: $layout-unit * 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-decoration: none !important;
  text-transform: none;

  &::before {
    content: "\e900";
  }
}

.footer__slogan {
  @extend .typo-small;
  @extend .typo-label;

  text-align: center;
  color: $color-gray;

  background-color: $color-black;
  padding: ($layout-unit * 3) $layout-unit ($layout-unit * 2) $layout-unit;
}