.hero {
  background-image: url('../images/cover.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 56%;
  position: relative;
  height: 0;
}

.hero__keywords {

  @media screen and (min-width: $mq-m) {
    color: $color-white;

    display: inline-block;
    position: absolute;
    bottom: 80px;
    right: 40px;
    width: 140px;
  }
}

.hero__keywordlist__item {
  opacity: 0;

  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: fadein;
  animation-timing-function: $geildanke-easing;
}

@for $i from 1 through 8 {
  .hero__keywordlist__item--#{$i} {
    animation-delay: 1s + (0.4s * $i);

    @media screen and (min-width: $mq-m) {
      animation-delay: 2s + (0.4s * $i);
    }
  }
}

.hero__keywordlist {
  border-left: 5px solid $color-black;
  display: inline-block;
  margin-top: $layout-unit;
  padding-left: $layout-unit;
  opacity: 0.8;
  width: 100px;

  @media screen and (min-width: $mq-s) {
    width: 140px;
  }

  @media screen and (min-width: $mq-m) {
    border: none;
    padding: 0;
    width: 100%;
  }

  &:first-child {
    margin-right: $layout-unit * 2;

    @media screen and (min-width: $mq-m) {
      margin-right: 0;
    }
  }
}

.hero__title {
  color: $color-white;
  font-size: 16px;

  background-color: $color-black;
  display: inline-block;
  padding: $layout-unit;

  @media screen and (min-width: $mq-s) {
    font-size: 18px;

    background-color: $color-black-alpha;
    padding: $layout-unit;
    position: absolute;
    left: $layout-unit * 4;
    bottom: $layout-unit * 7;
    width: 350px;
  }

  @media screen and (min-width: $mq-m) {
    font-size: 22px;

    padding: $layout-unit * 2;
    position: absolute;
    bottom: $layout-unit * 2;
    left: $layout-unit * 2;
    width: 500px;
  }
}
