.icon {
  background-size: cover;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.icon--appstore {
  background-image: url('../images/icons/1452621142_appstore.svg');
}

.icon--facebook {
  background-image: url('../images/icons/1452621019_facebook.svg');
}

.icon--googleplus {
  background-image: url('../images/icons/1452621084_google_plus.svg');
}

.icon--playstore {
  background-image: url('../images/icons/1452621185_google_play.svg');
}

.icon--twitter {
  background-image: url('../images/icons/1452621077_twitter.svg');
}

.icon--whatsapp {
  background-image: url('../images/icons/1452621076_whatsapp.svg');
}