.pattern {
  position: relative;

  &::before {
    background-color: lighten($color-gulf-stream-alpha, 10);
    border-bottom: ($layout-unit * 2) solid lighten($color-smoky-alpha, 40);
    content: '';
    position: absolute;
    top: -($layout-unit * 4);
    left: -25%;
    width: 150%;
    height: 400px;
    transform: rotateZ(-3deg);
  }
}

.pattern--about {}