.vrarticle {}

.vrarticle__article {
  @extend %xs--ten-twelfths;
  @extend %push--xs--one-twelfth;
  @extend %s--ten-twelfths;
  @extend %push--s--one-twelfth;
  @extend %m--ten-twelfths;
  @extend %push--m--one-twelfth;
  @extend %l--ten-twelfths;
  @extend %push--l--one-twelfth;

  padding-top: $layout-unit * 2;

  @media screen and (min-width: $mq-xs) {
    padding-top: $layout-unit * 4;
  }
}

.vrarticle__paragraph {
  margin-bottom: $layout-unit * 2;
  
  &:last-child {
    margin-bottom: 0;
  }
}