<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  {% assign t = site.data.content.[page.lang] %}

  {% include head.html %}

  <body>
    {% include pattern-about.html %}
    {% include header-default.html %}
    {% include hero-about.html %}

    {% for cta in site.ctas %}
      {% if cta.lang == page.lang %}
        {% if cta == site.ctas[2] %}
          {% include cta.html %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% include submenu.html %}

    {% include who-we-are.html %}
  </body>

</html>