<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  {% assign t = site.data.content.[page.lang] %}

  {% include head.html %}

  <body>
    {% include pattern-slant.html %}
    {% include header-default.html %}
    {% include hero-contact.html %}

    <section class="contactform">
      <form class="contactform__form" action="" method="post">
        <label class="contactform__label" for="contactform__email">Your email address</label>
        <input class="contactform__element" id="contactform__email" type="email" name="email" placeholder="Please enter your email address">
        <label class="contactform__label" for="contactform__message">Your message</label>
        <textarea class="contactform__element" id="contactform__message" name="message" id="" cols="30" rows="10" placeholder="Please enter your message"></textarea>
        <button class="button contactform__button" type="submit">Send message</button>
      </form>
    </section>

    {% include footer.html %}
  </body>

</html>