<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  {% assign t = site.data.content.[page.lang] %}

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/ProfilePage">

    {% include header-default.html %}

    <section id="geildanke" class="layout-container">
      <div class="hero"></div>
      <div class="headline hero__title typo-bold">For You We Create Mobile-friendly and High-performant Websites and Apps That Will Make Your Business a Success.</div>
      <div class="hero__keywords typo-label">
        <ul class="hero__keywordlist">
          <li class="hero__keywordlist__item hero__keywordlist__item--1">Apps</li>
          <li class="hero__keywordlist__item hero__keywordlist__item--2">Websites</li>
          <li class="hero__keywordlist__item hero__keywordlist__item--3">Games</li>
          <li class="hero__keywordlist__item hero__keywordlist__item--4">Magazines</li>
        </ul><!--
        --><ul class="hero__keywordlist">
          <li class="hero__keywordlist__item hero__keywordlist__item--5">Design</li>
          <li class="hero__keywordlist__item hero__keywordlist__item--6">Development</li>
          <li class="hero__keywordlist__item hero__keywordlist__item--7">Production</li>
          <li class="hero__keywordlist__item hero__keywordlist__item--8">Consulting</li>
        </ul>
      </div>
    </section>

  </body>

</html>
