---
layout: compress
---

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ page.lang }}"> <!--<![endif]-->

  {% assign t = site.data.content.[page.lang] %}

  {% include head.html %}

  <body>
    {% include header-default.html %}
    {% include hero-vr.html %}
    {% include vr-article.html %}
    {% include vr-live.html %}
    {% for cta in site.ctas %}
      {% if cta.lang == page.lang %}
        {% if cta.id == 'vr' %}
          {% include cta.html %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% include footer.html %}
  </body>

</html>