// My mixins


// Mixin for background image with full width
@mixin cover-full-width {
	background: url(../img/cover.png) no-repeat top left;
	background-size: cover;
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

// Project and product boxes

@mixin content-box-standard {
	display: inline-block;
	margin: 10px;
	max-width: 24em;
	min-height: 33em;
	vertical-align: top;
}

@mixin content-box-small {
	display: inline-block;
}


// Button mixin

@mixin btn-standard ($btn-background-color, $btn-color: $wireframe-white) {
	cursor: pointer;

	background: $btn-background-color;
	border: 1px solid $btn-color;
	border-radius: none;
	padding: 12px 12px;
	margin: 0;
	min-width: 4em;

	color: $btn-color;
	font-size: 14px;
	text-transform: uppercase;

	transition-property: box-shadow, color;
	transition-duration: 0.15s;

	&:hover {
		box-shadow: inset 0 3.5rem 0 0 $btn-color;
		border: 1px solid $btn-color;

		color: $btn-background-color;
	}

	&:active {
		box-shadow: inset 0 3.5rem 0 0 $geildanke-color-lighter;
		border: 1px solid $geildanke-color-lighter;

		color: $wireframe-white;
	}
}


// Small standard images

@mixin img-small {
	width: 100%;
	height: 100%;

	@media screen and (min-width: $l-small) {
		width: columns(4,10);
		float: left;
	}

	@media screen and (min-width: $l-middle) {
		float: left;
		width: columns(5,12);
	}
}


// Standard image mixin for images in text
@mixin img-standard {
	background: transparent url(../img/cover.jpg) no-repeat;
	background-position: center;
	background-size: 100%;
	overflow: hidden;
	margin-top: 1em;
	width: columns(8,8);
	height: auto;
	transition-property: background-size;
	transition-duration: 0.1s;

	&:hover,
	&:active {
		transition-property: background-size;
		transition-duration: 4s;

		background-size: 150%;

		.product-img-caption {
			transform: scale(1);
		}
    }

    .product-img-caption {
    	background-color: $wireframe-shine-white;
		padding: 4em;
		width: auto;
		height: auto;

		color: $wireframe-white;
		font-style: italic;
		text-align: center;

		transform: scale(0);
    }
}


// Typo mixins

@mixin landing-page-typo {
	h2 {
		padding-top: 0;										// Delete standard paddings for better box view
		padding-bottom: 0;
	}

	p {
		padding-top: 1em;
	}

  	.teaser {
		line-height: 1.5em;
		padding-top: 1em;
	}
}

// Typo on onepager




// Animation mixins


// Arrow Animation

@-webkit-keyframes fall-down {
	0%		{ top: 0; opacity: 0;}
	10%		{ top: 4em; opacity:1; }
	100%	{ top: 4em; opacity:1; }
}

@-moz-keyframes fall-down {
	0%		{ top: 0; opacity: 0;}
	10%		{ top: 4em; opacity:1; }
	100%	{ top: 4em; opacity:1; }
}

@-o-keyframes fall-down {
	0%		{ top: 0; opacity: 0;}
	10%		{ top: 4em; opacity:1; }
	100%	{ top: 4em; opacity:1; }
}

@keyframes fall-down {
	0%		{ top: 0; opacity: 0;}
	10%		{ top: 4em; opacity:1; }
	100%	{ top: 4em; opacity:1; }
}


@mixin arrow-animation {
	-webkit-animation:	fall-down 5s infinite ease-in;
	-moz-animation:		fall-down 5s infinite ease-in;
	-o-animation:		fall-down 5s infinite ease-in;
	animation:			fall-down 5s infinite ease-in;

	position: absolute;
}

// Clearfix

@mixin clearfix-mixin {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
}